<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>merchex</title>
</head>
<body>
    <h1> hello Django</h1>
    <p>Mes groupes préférés sont :</p>
    <ul>
        {% for band in bands %}
        <li>{{band.name}}</li>
        {%endfor%}
    </ul>
    <p>Mes titres préférés sont :</p>
    <ul>
        {% for listing in listings %}
        <li>{{listing.title}}</li>
        {%endfor%}
    </ul>
</body>
</html>